/* General styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header styles */

header {
    background-color: #282c34;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

.banner {
    max-width: 100%;
    height: auto;
}

.subtitle {
    font-style: italic;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}


/* Main content styles */

main {
    padding: 20px;
}


/* Intro section styles */

.intro h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.intro ul {
    list-style-type: disc;
    padding-left: 20px;
}

.intro ul li {
    margin-bottom: 10px;
}


/* Media section styles */

.media h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.gallery {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    width: 300px;
    /* Tamaño fijo para las imágenes */
    height: 200px;
    /* Tamaño fijo para las imágenes */
    object-fit: cover;
    /* Mantiene la proporción, recorta si es necesario */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Location section styles */

.location h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

iframe {
    width: 100%;
    max-width: 1000px;
    /* Ajusta el tamaño máximo deseado */
    height: 450px;
    border-radius: 8px;
    border: 0;
}


/* Promo section styles */

.promo h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.promo-video {
    width: 100%;
    /* Ajusta al ancho del contenedor */
    max-width: 1000px;
    /* Ajusta el tamaño máximo deseado */
    height: auto;
    /* Mantiene la proporción del video */
    border-radius: 8px;
}


/* Footer styles */

footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #ddd;
}